.ed-container
    .ed-item
        .login 
            h1.login__title Acceso Privado
            input(
                type="text"
                placeholder="Introduce tu nombre de usuario"
                id="username"
            )
            input(
                type="text"
                placeholder="Introduce tu contraseña"
                id="password"
            )
            button(
                type="submit"
                class="button red"
            ) Acceder 
